img#facebook-1{
  height: 125px;
  width: 150px;
}

img#tiktok-1{
  height: 200px;
  width: 100px;
}

img#facebook-2 {
  height: auto;
  width: 200px;
}

img#tiktok-2 {
  height: auto;
  width: 200px;
}